<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>DevExtreme Demo</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.3/css/dx.common.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.3/css/dx.light.css" />

</head>

<body class="dx-viewport">
<div class="demo-container">
<dx-chart
  id="chart"
  title="Stock Price"
  [dataSource]="stockPrices">
  <dxi-series
    name="DELL"
    openValueField="o"
    highValueField="h"
    lowValueField="l"
    closeValueField="c">
    <dxo-reduction color="red"></dxo-reduction>
  </dxi-series>
  <dxo-common-series-settings
    argumentField="date"
    type="candlestick">
  </dxo-common-series-settings>
  <dxo-legend itemTextPosition="left"></dxo-legend>
  <dxi-value-axis [tickInterval]="1">
    <dxo-title text="US dollars"></dxo-title>
    <dxo-label>
      <dxo-format
        type="currency"
        [precision]="0">
      </dxo-format>
    </dxo-label>
  </dxi-value-axis>
  <dxo-argument-axis [workdaysOnly]="true">
    <dxo-label format="shortDate"></dxo-label>
    <dxi-constant-line
      [width]="1"
      [value]="dt"
      color="#8c8cff"
      dashStyle="dash">
    </dxi-constant-line>
  </dxo-argument-axis>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-tooltip
    [enabled]="true"
    location="edge"
    [customizeTooltip]="customizeTooltip">
  </dxo-tooltip>
</dx-chart>
</div>
</body>

</html>
