
<div class="notePanel">
  <div class="noteBlock">
    <div>
      <img src="../../assets/img/money.png" style="max-height: 250px; max-width: 300px;">
    </div>

    <div>
      <div >
        <div >
          vsfvsvdsfvsdvsvdvsdvsdvsdvsdvsvsvsfvsdfvdfs
          vbdfsbdfsbdsgfbdfgsfbgbfgbfrgbsrtfdbttfdbtgrbstgr
          Body Contentnksbbdvbsdkvb,sdbvksdbkvbksdbvksv
          sfvsfvsvdsfvsdvsvdvsdvsdvsdvsdvsvsvsfvsdfvdfs
          vbdfsbdfsbdsgfbdfgsfbgbfgbfrgbsrtfdbttfdbtgrbstgr
          Body Contentnksbbdvbsdkvb,sdbvksdbkvbksdbvksv
          sfvsfvsvdsfvsdvsvdvsdvsdvsdvsdvsvsvsfvsdfvdfs
          vbdfsbdfsbdsgfbdfgsfbgbfgbfrgbsrtfdbttfdbtgrbstgr
          Body Contentnksbbdvbsdkvb,sdbvksdbkvbksdbvksv
          sfvsfvsvdsfvsdvsvdvsdvsdvsdvsdvsvsvsfvsdfvdfs
          vbdfsbdfsbdsgfbdfgsfbgbfgbfrgbsrtfdbttfdbtgrbstgr
        </div>
      </div>
    </div>
  </div>
</div>
